<!DOCTYPE html>
<html>

<head>
    <title>${app_title}</title>
    <style>
        body {
            background: #0d0d0d;
            color: #00ff41;
            font-family: 'Courier New', monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            border: 1px solid #00ff41;
            padding: 2rem;
            box-shadow: 0 0 15px #00ff41;
            text-align: center;
        }

        h1 {
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        .env {
            color: #555;
            font-size: 0.8rem;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>${app_title}</h1>
        <p>Deployed with Terraform & Docker</p>
        <div class="env">Detected environment: ${environment}</div>
    </div>
</body>

</html>